EMAIL-SUMMARIZER (WHATSAPP EDITION).json
{
  "name": "EMAIL-SUMMARIZER (WHATSAPP EDITION)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0fd7f7f4-731f-43b1-bcd1-ca14b7d25b60",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const subject = $input.item.json.Subject;\nconst body = $input.item.json.snippet;\nconst sender = $input.item.json.From;\nreturn [{ json: { subject, body, sender } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "e4042a45-abf7-46cd-85ba-258a8ac8a69e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "<YOUR_API_KEY>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"openai/gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Summarise this email in 3-5 bullet points:\\n\\nFrom: {{$json.from}}\\nSubject: {{$json.subject}}\\n\\n{{$json.text}}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "f69277f5-d790-4036-9e08-11eaada3549d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xxx",
              "value": ""
            },
            {
              "name": "Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "<YOUR_PHONE_NUMBER>"
            },
            {
              "name": "textMessage.text",
              "value": "=📧 *New Email*\n\n*From:* {{ $('Code in JavaScript').item.json.sender }}\n*Subject:* {{ $('Code in JavaScript').item.json.subject }}\n\n*Summary:*\n{{ $('HTTP Request').item.json.choices[0].message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "2c9dbf63-62e7-4656-8a06-ed6ce24261e8",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0634c418-15a8-4efa-8a5d-b7862c3b94b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "IZ8Tq6Mu7EIhyD7I",
  "tags": []
}